body{
    background: url("../img//wild-flowers-571940_1920.jpg") no-repeat center center fixed;
   height: 650px;
   padding: 75px;
}

.home-holder{
    background-color: whitesmoke;
    padding: 10px;
}

#garden-name{

    font-family: 'Sacramento', cursive;
    font-size: 50px;
    width: 115px;
    margin-left: 15px;
    margin-bottom: 5px;
}